.carrousel-s {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    top: 1vh;
    left: 1vw;
    max-width: 600px;
    width: 98vw;
    margin-top: 1vh
}
.carrousel-s > .btn.sm {
    width: 13%;
}
.carrousel-s > .btn.md {
    width: 17%;
}
.carrousel-s > .btn.lg {
    width: 21%;
}
.carrousel-s > .btn > .fix-height {
    position: relative;
    padding-top: 80%;
    height: 0;
}
.carrousel-s > .btn > .fix-height > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 5px 2px rgb(255, 255, 255, 75%);
    filter: brightness(90%);
    border-radius: 5px;
}
.carrousel-s > .nav {
    background-color: unset;
    box-shadow: none;
    border-radius: unset;
    width: 3vmin;
    height: 3vmin;
}
.carrousel-s > .btn > .fix-height > img:hover {
    filter: brightness(120%)
}

@media screen and ((max-height: 600px)) {
    .carrousel-s {
        max-width: 500px;
    }
}
@media screen and ((max-height: 460px)) {
    .carrousel-s {
        max-width: 380px;
    }
}
@media screen and ((max-height: 380px)) {
    .carrousel-s {
        max-width: 320px;
    }
}