code>.color-blue {
    color: #3a5eff;
}
code>.color-lightblue {
    color: #3fb7de;
}
code>.color-orangered {
    color: #ff895d;
}
code>.color-whitebone {
    color: #edffb2;
}
code>.color-cyan {
    color: #8de6dd;
}